footer(role="contentinfo")
  .container
    .row
      .col-md-4.col-xs-12.footer__colum1.d-flex.justify-content-center.align-items-center
        p.footer_copirights © 2018 H.BLOOM Inc.
      .col-md-4.col-xs-4.footer__colum3.d-flex.justify-content-center.align-items-center
        p.footer_copirights
          a(href="#").footer_link Terms
          span   |  
          a(href="#").footer_link Privacy Policy
          span   |  
          a(href="#").footer_link Site Map
      .col-md-4.col-xs-4.footer__colum2.d-flex.justify-content-center.align-items-center
        a(href="").footer__icons
          i.icon.icon-facebook-squared
        a(href="").footer__icons
          i.icon.icon-twitter-1
        a(href="").footer__icons
          i.icon.icon-gplus
        a(href="").footer__icons
          i.icon.icon-mail
        a(href="").footer__icons
          i.icon.icon-skype
  

  