extends ../templates/layout.pug
include ../templates/mixins/header-nav

block vars
  -var title = "Bloom"
  -var description = "Web Boilerplate"
block header
  section
    #banner
      +navbar('inicio')
      .banner__content__container
        .container 
          .row
            .col-md-8.d-flex.align-items-center
              .banner__content
                h1.banner__content__tittle The Perfect Touch
                p.banner__content__info Custom floral arrangements tailored to your style and space. Starting at $75 per delivery.
                p.banner__content__text Schedule a complimentary design consultation today.
            .col-lg-3.col-md-4.mt2
              form(action="POST").banner__formulario
                label(for="name").formulario__label__name FULL NAME:
                input(type="text").formulario__input__name
                label(for="phone").formulario__label__phone PHONE:
                input(type="text").formulario__input__phone
                label(for="email").formulario__label__email EMAIL:
                input(type="text").formulario__input__email
                label(for="city").formulario__label__city CITY:
                input(type="text").formulario__input__city
                .button__container.d-flex.justify-content-end
                  button.btn.btn-default.formulario__button Submit
  section
    .how__it__works__container
      h2.how__it__works__tittle How It Works
    .container.steps__container
      .row
        .col-md-4
          .steps__container__step1
            h2.step1__number 1
            h3.step1__tittle design
            p.step1__info Your personal design consultant meets with you to discuss style, preferences and space.
        .col-md-4
          .steps__container__step2
            h2.step2__number 2
            h3.step2__tittle schedule
            p.step2__info We provide a custom proposal for floral service based on your schedule (weekly, bi-weekly or monthly).
        .col-md-4
          .steps__container__step3  
            h2.step3__number 3
            h3.step3__tittle enjoy
            p.step3__info We hand deliver your custom arrangements for you to enjoy. It's that simple.
  section
    .background
      .container
        .row
          .col-md-4
            .img__container
              img(src="img/subscriptions/subscriptions-1.jpg", alt="").img-responsive.img__container__imagen
          .col-md-4
            .img__container
              img(src="img/subscriptions/subscriptions-2.jpg", alt="").img-responsive.img__container__imagen
          .col-md-4
            .img__container
              img(src="img/subscriptions/subscriptions-3.jpg", alt="").img-responsive.img__container__imagen
  section
    .container
      .container__text
        .row
          .col-md-6
            .container__text__service
              h4.container__text__service__tittle.font__tittle__center  OUR SERVICE
              p.container__text__service__info H.Bloom is the world's leading luxury floral and plant service. We believe flowers are living art, and we take great care in delivering beautiful installations to businesses and individuals across the country. Our services range from providing single-stem bud vases or succulents to delivering individual floral arrangements to decorating entire living or working spaces. We also offer high-end interior and exterior plantscaping. We work with hotels, restaurants, offices, residential and commercial buildings, salons, spas, retailers, event spaces, and private clients.
          .col-md-6
            .container__text__designers
              h4.conntainer__text__designers__tittle.font__tittle__center OUR DESIGNERS
              p.container__text__designers__info H.Bloom arrangements move our clients and their customers because they start with great design. Our designers don't just make arrangements — they create living art. Each designer works closely with our dedicated account executives to customize every piece based on space, style, and budget.
            .container__text__account
              h4.conntainer__text__account__tittle.font__tittle__center OUR ACCOUNT TEAMS
              p.container__text__account__info Every H.Bloom client is assigned to a personal account executive. Our account executives serve as our clients' single point of contact for all of their design, installation, maintenance, and even billing questions.

    .container
      h2.swiper__tittle Uor Principal Products and Clients
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .container__slide__hotel
            .container
              .row
                .col-md-8
                  img(src="img/wraper/hotels.jpg", alt="").img-responsive.img__container__imagen
                  h4.slide__hotel__tittle.font__tittle The Westin
                .col-md-4
                  .slide__hotel__content
                    h4.slide__hotel__content__tittle.font__tittle.font__tittle__center Hotels
                    p.slide__hotel__content__info Whether your hotel is a Victorian 5-star masterpiece a sleek, modern space, H.Bloom can design custom arrangements for your lobby, concierge, guest rooms, and special events. We can also help your guests send stunning gifts.
                  .slide__hotel__clients
                    h4.slide__hotel__clients__tittle.font__tittle.font__tittle__center Clients
                    img(src="img/logo/hotels-logos-2.png", alt="").img-responsive.img__container__imagen              
        .swiper-slide
          .container__slide__offices
            .container
              .row
                .col-md-8
                  img(src="img/wraper/offices.jpg", alt="").img-responsive.img__container__imagen
                  h4.slide__offices__tittle.font__tittle MRP Realty
                .col-md-4
                  .slide__offices__content
                    h4.slide__offices__content__tittle.font__tittle.font__tittle__center Offices
                    p.slide__offices__content__info Create the perfect professional atmosphere from the moment your clients walk in the door. Our design team will create a stunning arrangement that fits your brand and budget. We also offer a range of flower and plant gifts, so you have one source for any gifts for employees or clients.
                  .slide__offices__clients
                    h4.slide__offices__clients__tittle.font__tittle.font__tittle__center Clients
                    img(src="img/logo/offices-logos-2.png", alt="").img-responsive.img__container__imagen
        .swiper-slide
          .container__slide__retail
            .container
              .row
                .col-md-8
                  img(src="img/wraper/retail-2.jpg", alt="").img-responsive.img__container__imagen
                  h4.slide__retail__tittle.font__tittle Hugo Boss
                .col-md-4
                  .slide__retail__content
                    h4.slide__retail__content__tittle.font__tittle.font__tittle__center retail
                    p.slide__retail__content__info Your store can feel like a luxury home with custom arrangements throughout the space. Looking for a focal installation in a window or central display? Want to host a special party with flowers for your VIPs? If you can dream it, your H.Bloom team can bring it to life.
                  .slide__retail__clients
                    h4.slide__retail__clients__tittle.font__tittle.font__tittle__center Clients
                    img(src="img/logo/retail-logos-2.png", alt="").img-responsive.img__container__imagen
        .swiper-slide
          .container__slide__building
            .container
              .row
                .col-md-8
                  img(src="img/wraper/buildings.jpg", alt="").img-responsive.img__container__imagen
                  h4.slide__building__tittle.font__tittle Property Group Partners
                .col-md-4
                  .slide__building__content
                    h4.slide__building__content__tittle.font__tittle.font__tittle__center Buildings
                    p.slide__building__content__info Every part of a building is an extension of your tenants' home or work space. Whether it's a large custom centerpiece in the common space, a simple arrangement near the doorman, or planters outside the entrance, we can create a comfortable space with the perfect flowers or plants.
                  .slide__building__clients
                    h4.slide__building__clients__tittle.font__tittle.font__tittle__center Clients
                    img(src="img/logo/buildings-logos-2.png", alt="").img-responsive.img__container__imagen

      .swiper-pagination
      
block content
  section         

block footer
  include ../templates/partials/footer.pug  