mixin navbar(activePage="inicio")
  nav.navbar.navbar-expand-lg.navbar-light
    .container.contenedor
      a(href='#')
        img(src="/img/logo/logo.png" width="200" height="35")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.elementos
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle.shop(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Shop
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Birthday
              a.dropdown-item(href='#') Love
              a.dropdown-item(href='#') Weddings
              a.dropdown-item(href='#') Sympathy
              a.dropdown-item(href='#') Premium
          li.nav-item
            a.nav-link(href='#')
              | Business
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Suscriptions
          li.nav-item
            a.nav-link(href='#') Corporate gifting
        ul.navbar-nav
          li.nav-item
            a(href="#").nav-link.button Contact Us
          li.nav-item
            a(href="#").nav-link.button Log In
        
        